---
---
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Curriculum Vitae — Alex Dowad</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Curriculum Vitae — Alex Dowad">
	<meta name="author" content="Alex Dowad">
	<meta name="google-site-verification" content="b728MZh1kMEMuMPRaZo45UwOSr75X_eryTAKAKDhAGY" />
	<link rel="canonical" href="{{ page.url | absolute_url }}">
	<link rel="stylesheet" href="{{ "/assets/css/index.css" | relative_url }}">
	<link rel="stylesheet" href="{{ "/assets/css/classes.css" | relative_url }}">
	{% for sheet in page.stylesheets %}
	<link rel="stylesheet" href="/assets/css/{{ sheet }}">
	{% endfor %}
	<style>
		.hidden-details {
			padding: 1em;
			background-color: #d8c399;
			display: none;
		}
		div.hidden-details {
			margin-block-start: 1em;
			margin-block-end: 1em
		}
		div.hidden-details > p:first-child {
			margin-block-start: 0;
		}
		div.hidden-details > p:last-child {
			margin-block-end: 0;
		}
		.detail-link {
			cursor: pointer;
		}
	</style>
</head>

<header class="icons">
	<span class="title">
		<span style="font-size: 1.2em; font-weight: bold">Alex Dowad</span><br>
		<span style="font-size: 0.7em; font-style: italic">CURRICULUM VITAE</span>
	</span>

	{% include menu.html menu=site.external_for_cv icons=true %}
</header>

<article>

<div style="display: flex; align-items: flex-start; gap: 1rem">
	<p>Hello! I’m an inveterate tech-head who does freelance software development and engineering. 30 years of wrangling with computer code has given me both breadth <i>and</i> depth in the field; some of my main areas of expertise are listed below. I can help you design software, implement software, diagnose difficult bugs, make slow software fast, find security vulnerabilities, or train your development team. General consulting and advisory jobs are also welcome. If you need a technical power hitter on your project, <a href="mailto:alexinbeijing@gmail.com">drop me a mail</a> and let’s talk.</p>
	<img src="/assets/images/MeInOkayama.jpg" style="width: 12.5rem; height: auto; margin-top: 1em">
</div>

<h2>I’m good with...</h2>

<div class="indent">
	<h3 style="margin-bottom: 0">Languages</h3>
	C, Golang, Ruby, JavaScript, Lua, Lisp (Clojure, Scheme, Common Lisp), Java, SQL (Postgres, SQLite), Assembly (x86-32/x86-64/RISC-V)<br>
	(Have also written production code in: AWK, C#, C++, CoffeeScript, Groovy, Perl, PHP, Python)

	<h3 style="margin-bottom: 0">Low-level/“System” Programming</h3>
	I’ve done extensive research into CPU architectures, firmware standards like UEFI, operating system internals (especially the Linux kernel), filesystems, compiler/linker design, virtual machine/dynamic runtime design, binary formats, network protocols...

	<p>
		Understanding the lower parts of the computing stack often helps me diagnose and fix obscure bugs which would otherwise be inscrutable. Examples:
	</p>
	<ul>
		<li><b>Fixing a bug in Ruby’s garbage collector.</b> (<a href="https://bugs.ruby-lang.org/issues/7135">Ruby Bug #7135</a>) After tracing a crashing Ruby program in GDB and examining its memory, I realized this was a use-after-free bug. Further investigation showed that the only reference to a string was being kept in a CPU register, when Ruby’s garbage collector relies on scanning the program stack for pointers.</li>
		<li><b>Fixing a bug in PHP’s JIT compiler.</b> (<a href="https://github.com/php/php-src/pull/6392">PHP PR #6392</a>) I traced a crashing PHP program in GDB and by reading the disassembly of JIT-generated code, found that it was clearly wrong. The next step was digging through the source code for the JIT compiler to find which part was generating the incorrect machine code.</li>
	</ul>
	<p>This in-depth understanding also helps me design fast systems, or analyze why one is slow.</p>

	<h3 style="margin-bottom: 0">Algorithms and Data Structures</h3>
	Strong grasp of the classic algorithms and data structures, plus some exotic ones. Example:
	<ul>
		<li><b><code>immutable-ruby</code> library.</b> I wrote 95% of <a href="https://github.com/immutable-ruby/immutable-ruby/">this library</a>, which provides a selection of immutable, persistent, thread-safe data structures for Ruby.</li>
	</ul>

	<h3 style="margin-bottom: 0">Web</h3>
	In-depth knowledge of foundational web technologies: HTTP, HTML, CSS, JavaScript (including its standard library and various browser JavaScript APIs). Some knowledge of browser internals. Have read parts of the source code for the V8 JavaScript engine.

	<h3 style="margin-bottom: 0">SQL Databases</h3>
	My experience is most extensive with PostgreSQL, but have also coded SQL for MS SQL Server, MySQL, and SQLite. Have often been able to make SQL queries faster (even hundreds of times faster) by analyzing the query plan and adjusting the query or adding appropriate indexes.

	<h3 style="margin-bottom: 0">Math</h3>
	I’m a math buff and have a good grasp of many undergraduate-level math topics: calculus, linear algebra, differential equations, probability, statistics, group theory, complex analysis. (See: <a href="https://math.stackexchange.com/users/182510/alex-d?tab=questions&sort=newest">Math questions I’ve asked publicly</a>. My articles on pure and applied math: <a href="/visualizing-nelder-mead/">1</a> | <a href="/a-toy-runge-kutta-solver/">2</a> | <a href="/complex-sin-and-cos/">3</a> | <a href="/heat-equation/">4</a> | <a href="/wave-equation/">5</a> | <a href="/laplaces-equation/">6</a> | <a href="/solving-laplaces/">7</a>)

	<h4 style="margin-bottom: 0">Other technical strengths (click for details):</h4>
	<a class="detail-link">Alpine Linux</a> | <a class="detail-link">Ansible</a> | <a class="detail-link">Concurrency</a> | <a class="detail-link">Cryptography</a> | <a class="detail-link">Data Visualization</a> | <a class="detail-link">Debuggers</a> | <a class="detail-link">Fuzzing</a> | <a class="detail-link">Git</a> | <a class="detail-link">GraphQL</a> | <a class="detail-link">JPEG</a> | <a class="detail-link">Linux Containers</a> | <a class="detail-link">Networking</a> | <a class="detail-link">Parsing</a> | <a class="detail-link">Regular Expressions</a> | <a class="detail-link">Security</a> | <a class="detail-link">SIMD</a> | <a class="detail-link">TeX</a> | <a class="detail-link">Text Encoding</a> | <a class="detail-link">Unicode</a>

	<p class="hidden-details" id="alpine_linux">
		I’m the maintainer of several Alpine Linux packages. I have contributed code to musl libc before, and have read some of the source code for OpenRC. (Both of these are key components of Alpine Linux.)
	</p>
	<p class="hidden-details" id="ansible">
		I use Ansible to automate server setup and other sysadmin tasks.
	</p>
	<p class="hidden-details" id="concurrency">
		I once became very interested in concurrent/parallel programming and did a lot of research. One of the fruits was the <a href="https://github.com/ruby-concurrency/concurrent-ruby/pull/259"><code>ReadWriteLock</code> implementation</a> which is still included in the popular <code>concurrent-ruby</code> library.
	</p>
	<p class="hidden-details" id="cryptography">
		Have been studying cryptography and cryptanalysis on the side for close to a year. I’ve completed all the <a href="https://cryptopals.com/">Cryptopals challenges</a>. Here is some of my expository writing on cryptanalysis: <a href="/understanding-bleichenbackers-crypto98-rsa-attack/">1</a> | <a href="/understanding-mangers-rsa-attack/">2</a>.
	</p>
	<p class="hidden-details" id="data_visualization">
		Most of what I know about data visualization in the abstract was learned by reading Tamara Munzner’s <i>Visualization Analysis and Design</i>. I sometimes use D3.js to create interactive displays of information; you can see a few examples on <a href="https://alexdowad.github.io">my blog</a>.
	</p>
	<div class="hidden-details" id="debuggers">
		<p>
			I frequently use GDB to analyze the behavior of programs. Have limited experience in scripting GDB using Python.
		</p>
		<p>
			<b>War story:</b> This once helped me diagnose and fix an intermittent bug which couldn’t be reproduced reliably; I ran the buggy program in a loop, under GDB, with a script which would make GDB stop the program at key points, dump the registers and stack to a log, then continue execution. After waiting for the bug to reoccur, I was able to find the log entries for the “bad” run and discover what was actually happening.
		</p>
	</div>
	<p class="hidden-details" id="fuzzing">
		Around 2015, I started using homebrew “fuzzers” to test my code on huge numbers of random test cases. These fuzzers were not coverage-guided, but would just blindly generate random inputs. Still, they were effective enough at finding bugs to make the practice worthwhile. When I started working on PHP core, <a href="https://www.npopov.com/aboutMe.html">Nikita</a> encouraged me to try using clang’s libFuzzer (a coverage-guided fuzzer). It was astonishly good at finding bugs, even wildly obscure bugs; my previous hand-rolled fuzzers were left in the dust. Ever since then, libFuzzer has been a key tool in my toolkit. (See: <a href="https://github.com/php/php-src/pull/10828#issuecomment-1484762798">Description of how I normally use libFuzzer</a>)
	</p>
	<p class="hidden-details" id="git">
		Longtime, advanced git user.
	</p>
	<div class="hidden-details" id="graphql">
		<p>
			On a previous project, I needed to implement a GraphQL server. None of the available open-source implementations seemed suitable, so I studied the specification and wrote my own server from scratch.
		</p>
		<p>
			<b>Interesting technical point:</b> Many GraphQL server implementations use a technique called the “dataloader pattern” to avoid issuing vast numbers of database queries, but in my humble opinion, the “dataloader pattern” is a poor idea and best avoided. Instead, my implementation analyzes GraphQL queries and translates them into SQL queries in a way which guarantees just one SQL query will be issued for each node in the GraphQL query tree.
		</p>
	</div>
	<p class="hidden-details" id="jpeg">
		See: <a href="https://github.com/alexdowad/jpeg.js">JPEG decoder</a> which I wrote as an exercise. <a href="https://alexdowad.github.io/visualizing-the-idct/">My article on the Discrete Cosine Transform</a>, which plays a central role in JPEG encoding/decoding.
	</p>
	<p class="hidden-details" id="linux_containers">
		Have worked on a number of projects which were containerized, both via the <a href="https://linuxcontainers.org/lxc/introduction/">LXC</a> userspace tools and later via Docker. Limited experience developing applications which run on Kubernetes, with Kubernetes manifests generated by Helm and underlying server infrastructure provisioned using Terraform. I understand the kernel features which support containerization (namespaces, cgroups) and the system calls involved.
	</p>
	<p class="hidden-details" id="networking">
		At one previous job, I was in charge of network installations and support for a facility with several hundred workers. This meant learning to configure network switches, routers, Wi-Fi access points, and so on. I also studied many network protocols in detail and learned to use WireShark to analyze packet dumps.
	</p>
	<p class="hidden-details" id="parsing">
		I’ve researched a lot of parsing algorithms and am experienced in using both traditional LALR(1) parser generators and the newer PEG parser generators.
	</p>
	<p class="hidden-details" id="regular_expressions">
		Good understanding of how regular expression engines are implemented. Have implemented some of the key algorithms before, such as NFA-to-DFA conversion and DFA minimization. Understand how to use advanced features supported by some regex engines, such as lookahead and lookbehind.
	</p>
	<div class="hidden-details" id="security">
		<p>
			Years ago, I worked through the <a href="https://overthewire.org/wargames/">OverTheWire hacking “wargames”</a> to understand more about how security exploits work. Learned how to write shellcode and develop buffer overflow exploits, printf format string exploits, time-of-check-to-time-of-use exploits, and so on.
		</p>
		<p>
			<b>Fun story:</b> While going through some of the harder “wargames”, I found it was very helpful to use <a href="https://en.wikipedia.org/wiki/Return-oriented_programming">return-oriented programming</a> in my exploits... but it is such a pain to read through an entire disassembled binary to find snippets of assembly code for a ROP exploit! To save myself this pain, I developed a tool in Ruby which analyzes an ELF binary and automatically generates a list of addresses for a ROP exploit against that binary. (You tell the tool what CPU registers and fixed memory addresses you want the exploit to write specified values into. It only works for the x86 architecture, and only for the basic scalar registers, not for SIMD registers. I have not made this tool publicly available.)
		</p>
		<p>
			More recently, accepted a job with an IT security firm and started doing security-related work full time. See the <a href="#recent_work_experience">recent work experience</a> listed below.
		</p>
	</div>
	<p class="hidden-details" id="simd">
		While working on the PHP interpreter, I learned to devise algorithms for applying <a href="https://en.wikipedia.org/wiki/Single_instruction,_multiple_data">SIMD instructions</a> to speed up computation on large strings. I’ve only done this for x86-64 CPUs, though the skill should transfer to other CPU architectures. Examples: <a href="https://github.com/php/php-src/commit/3ae47793053f062f8d74c34258d8d98102df9f50">1</a> | <a href="https://github.com/php/php-src/commit/63c50cc87e4eb4a22de054f836934e8a005739f8">2</a> | <a href="https://github.com/php/php-src/commit/0b7986f976dbd737a2feac1f7fd4b5d0d457228c">3</a> | <a href="https://github.com/php/php-src/commit/b4cbaabd9b1bed40e8f5c29e43012da1fe6f221d">4</a> | <a href="https://github.com/php/php-src/commit/c8ec2ed730334c266ddf01a54d501f3777704219">5</a>
	</p>
	<p class="hidden-details" id="tex">
		I use LaTeX for writing documents with embedded math notation, and KaTeX for including math notation in web pages. Once I wrote a Ruby-based clone of TeX to understand it better; unfortunately, my clone doesn’t support the TeX commands for aligning table cells and probably never will.
	</p>
	<p class="hidden-details" id="text_encoding">
		I’m the maintainer of <a href="https://github.com/php/php-src/tree/master/ext/mbstring">mbstring</a>, a core PHP extension which allows PHP to handle all kinds of legacy text encodings. This has resulted in getting to know far more than I ever wanted about ISO-2022 text, EUC, Shift-JIS, GB18030, BIG-5, UHC, HZ, etc.
	</p>
	<p class="hidden-details" id="unicode">
		I am the maintainer of <a href="https://github.com/php/php-src/tree/master/ext/mbstring">one of PHP’s core libraries</a> for handling Unicode, and this has caused me to delve into the Unicode standard. I’ve contributed implementations of some important Unicode-processing algorithms like string canonicalization and grapheme segmentation to <a href="https://github.com/starwing/luautf8"><code>lua-utf8</code></a>.
	</p>

	<script>
		function hiddenParagraphFor(link) {
			var linkText = link.innerText;
			var targetId = linkText.toLowerCase().replace(' ', '_');
			return document.getElementById(targetId);
		}
		var revealed;
		var links = document.getElementsByClassName('detail-link');
		for (var link of links) {
			if (!hiddenParagraphFor(link))
				throw new Error("Broken link");
			link.addEventListener('click', function(event) {
				if (revealed)
					revealed.style.display = 'none';
				revealed = hiddenParagraphFor(event.target);
				revealed.style.display = 'block';
			});
		}
	</script>
</div>

<h2>I don’t know much about (but would love to learn)...</h2>

<div class="indent">
	<h3 style="margin-bottom: 0">High-scale Distributed System Design</h3>
	Sounds fascinating, but I’ve never done it before. I could still help to fix bugs or optimize for speed on individual nodes in your distributed system.

	<h3 style="margin-bottom: 0">NoSQL Databases</h3>
	Have only done a small amount of work with MongoDB and DynamoDB on two projects.

	<h3 style="margin-bottom: 0">SPA Web Frameworks (React/Vue/Svelte/etc)</h3>
	I have built SPA web applications using my own hand-rolled JavaScript before, but have never used any of the big frameworks.

	<h3 style="margin-bottom: 0">Mobile (iOS/Android) Client Development</h3>
	Would love to learn, but haven’t had the opportunity yet.

	<h3 style="margin-bottom: 0">Machine Learning</h3>
	Am currently studying the book <a href="https://d2l.ai/">Dive into Deep Learning</a>; hope to have more to say soon.
</div>

<h2 id="recent_work_experience">Security Engineering/Penetration Testing Work</h2>

<div class="indent">
	<h3 style="margin-bottom: 0">
		<span style="margin-right: 3em">Nov 2024—Present</span>
		<span>Blackwing Intelligence</span>
	</h3>
	<p style="margin-block-start: 0">
		Audited various corporate codebases for security vulnerabilities. The codebases used diverse programming languages, frameworks, databases, and programming styles. Issues and vulnerabilities found ranged from banal (“corporate web application does not check whether the user is logged in before performing privileged operations”) to deep conceptual flaws with system design.
	</p>
	<p>
		Blackwing’s company culture meshed well with my own mindset; substance over form, clear communication over jargon, genuine value over posturing, meaningful compliance over box-ticking.
	</p>
</div>

<h2>Samples of Paid Development Work</h2>

<div class="indent">
	Much of my paid work has been done on internal applications and systems, which I can’t show publicly; but here are a couple examples of work which I can show:

	<div style="display: flex; align-items: flex-start; gap: 1rem">
		<div>
			<h3 style="margin-bottom: 0">GUI for updating data tables on microcontroller</h3>
			Written mostly in Clojure, AOT-compiled to Java bytecode and packaged up to run on a single double-click. So the client wouldn’t have to keep calling me back, most of what is seen in the GUI can be changed by editing plain-text configuration files. I couldn’t find a good open-source library for rendering 3D graphs with license terms which were acceptable, so I rolled my own simple CPU-based renderer which does Z-sorting and Gouraud shading of polygons.
		</div>
		<img src="/assets/images/gui-screenshot.jpg" style="width: 20rem; height: auto; margin-top: 1em">
	</div>

	<div style="display: flex; align-items: flex-start; gap: 1rem">
		<div>
			<h3 style="margin-bottom: 0">Web site for event staffing company</h3>
			The initial development of this web site was done in 2013; it includes a public-facing section as well as a backend system which handles most internal business operations. Since then, I have been called back periodically to update and enhance the site. The backend system has an interesting architecture which is designed to minimize latency for office users.
		</div>
		<img src="/assets/images/website1.jpg" style="width: 20rem; height: auto; margin-top: 1em">
	</div>
</div>

<h2>Samples of Open-source Development Work</h2>

<div class="indent">
	<h3 style="margin-bottom: 0">PHP</h3>
	I’ve contributed <a href="https://github.com/php/php-src/commits?author=alexdowad">over 500 commits</a> to <code>php-src</code>. Much of this was on <code>mbstring</code> (a core PHP extension used to process text which is encoded in various ways), but it also includes other bug fixes and enhancements. <a href="https://github.com/php/php-src/commit/80598f12507c5cbde04163289e4d2575f05d2a0c">My first commit in PHP core</a> is interesting; it tweaked the PHP lexer so that PHP can print much better error messages for certain kinds of syntax errors.

	<h3 style="margin-bottom: 0">lua-utf8</h3>
	<code>lua-utf8</code> is a Lua and LuaJIT extension for processing UTF-8 text. I have added <a href="https://github.com/starwing/luautf8/commits?author=alexdowad">several new features</a>: functions for Unicode normalization, grapheme segmentation, and for UTF-8 validity checking and scrubbing of invalid byte sequences.

	<h3 style="margin-bottom: 0">bit-twiddle</h3>
	<a href="https://github.com/alexdowad/bit-twiddle">A C-based Ruby extension</a> which implements various bit-manipulation operations which are not supported by core Ruby. Authored by myself, to scratch an itch which I had on another project.

	<h3 style="margin-bottom: 0">musl libc</h3>
	<a href="https://github.com/bminor/musl/commits?author=alexdowad">I added a script</a> which automatically annotates x86 and x86-64 assembly source files with directives to generate the right debugging information, so that debuggers can show an accurate stack trace when stopped in that assembly code. Before this, a debugger would not show a stack trace at all when stopped in certain parts of musl libc.

	<h3 style="margin-bottom: 0">Bug fixes in Ruby core</h3>
	Here are a few examples: <a href="https://bugs.ruby-lang.org/issues/11404">1</a> | <a href="https://bugs.ruby-lang.org/issues/11451">2</a> | <a href="https://bugs.ruby-lang.org/issues/12016">3</a>

	<h3 style="margin-bottom: 0">Rubocop</h3>
	Rubocop is a linter and formatter for Ruby code. I’ve contributed <a href="https://github.com/rubocop/rubocop/commits?author=alexdowad">more than 400 commits</a>, including lots of bug fixes as well as some big performance improvements.
</div>

<h2>Finally, if it’s any help...</h2>

<div class="indent">
	<ul>
		<li>I speak, read, and write (Mandarin) Chinese and Japanese fluently.</li>
	</ul>
</div>

<p style="margin-top: 3rem; color: #8e8e91">(Last updated in July 2025)</p>

</article>
</html>
