---
---

@import index, font, basic, layout

body > header, body > article, body > footer
  padding: 1.5em

@media (min-width: 40em)
  body > header, body > article, body > footer
    padding: 1.75em calc(32% - 12em)

body > header
  background: rgba($light, 0.02)
  box-shadow: 0 0 .6em rgba($dark, 0.05)
  border-bottom: 1px solid reduce(16)

// We use sup for references to footnotes
// They shouldn't affect the line height
sup
  font-size: 80%
  line-height: 0
  position: relative
  vertical-align: baseline
  top: -0.5em
